{{ "Created by Ansible" | comment }}

[Unit]
Description=Run host-updater service daily at midnight
OnFailure=host-updater-notifier.service

[Timer]
OnCalendar={{ host_updater_start_schedule }}

[Install]
WantedBy=timers.target
