{{ "Created by Ansible" | comment }}

[Unit]
Description=Run cfssl-client service daily at midnight
OnFailure=cfssl-client-notifier.service

[Timer]
OnCalendar={{ cfssl_client_start_schedule }}

[Install]
WantedBy=timers.target
